@media only screen and (max-width: 600px) {
    .image_size img {
        width: 70%;
        display:block; 
        margin:auto;
    }

    .button_style_in {
        position: fixed;
        bottom: 10%;
        float: right;
        width: 18%;
        margin-left: 60%;
        padding: 10px;
        border-radius: 0.7rem;
        background-color: rgb(16, 26, 57);
        text-align: center;
        font-size: 1.0rem;
        font-family: 'Courier New', Courier, monospace;
    }

    .Pline {
        margin: 7% 15% 7% 15%;
        padding: 0;
        width: 10%;
        height: 5px;
        background-color: rgb(16, 26, 57);
    }

    p {
        margin: 5px 15% 5px 15%;
        padding: 0.3rem;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 600px) {
    .image_size img {
        width: 50%;
        display:block; 
        margin:auto;
    }
    .button_style_in {
        /* position: fixed;
        bottom: 10%; */
        float: right;
        width: 15%;
        /* margin-left: 60%; */
        padding: 10px;
        border-radius: 0.7rem;
        background-color: rgb(16, 26, 57);
        text-align: center;
        font-size: 1.1rem;
        font-family: 'Courier New', Courier, monospace;
    }

    .Pline {
        margin: 7% 25% 7% 25%;
        padding: 0;
        width: 10%;
        height: 5px;
        background-color: rgb(16, 26, 57);
    }

    p {
        margin: 5px 25% 5px 25%;
        padding: 0.3rem;
        font-size: 1.3rem;
    }
}

.back {
    padding: 0% 10% 0% 10%;
}

a {
    text-decoration: none;
    color: white;
}

.text_class {
    margin: 10px 60px 10px 60px;
}


