/* @media only screen and (Max-width: 600px){
    .back {
        padding: 0rem 3rem 0rem 3rem;
    }
} */

@media only screen and (Min-width: 768px){
    .container, .container-sm {
        max-width: 720px;
    }

    .lead {
        font-size: 1.8rem;
    }

    .btn {
        font-size: 1.2rem;
        line-height: 2;
    }
}

/* @media only screen and (Min-width: 800px) and (Min-height: 500px){
    .container, .container-sm {
        max-width: 340px;
    }

    p {
        font-size: medium;
    }
} */

@media only screen and (Max-width: 700px) and (Max-height: 600px){
    .container, .container-sm {
        max-width: 300px;
    }

    .lead {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media only screen and (Min-width: 1000px) and (Min-height: 600px){
    .container, .container-sm {
        max-width: 540px;
    }

    .lead {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.2rem;
        line-height: 1.8;
    }
}


html {
    height: 100%;
}

/* .btn {
    font-size: 1.5rem;
} */

.btn-primary {
    background-color: rgb(16, 26, 57);
    border-color: rgb(16, 26, 57);

    border-radius: 1rem;
}

.line {
    padding: 2rem 0.5rem 2rem 0.5rem;
}

/* .lead {
    font-size: 2.3rem;
} */


/* ***************** */

.test_animate {
    animation-duration: 2s;
    animation-name: test;
    
    animation-fill-mode: forwards;
}

@keyframes test {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#anime1 {
    opacity: 0;
    animation-delay: 0.1s;
}
#anime2 {
    opacity: 0;
    animation-delay: 0.2s;
}
#anime3 {
    opacity: 0;
    animation-delay: 0.35s;
}
#anime4 {
    opacity: 0;
    animation-delay: 0.55s;
}
#anime5 {
    opacity: 0;
    animation-delay: 0.8s;
}
#anime6 {
    opacity: 0;
    animation-delay: 1.1s;
}
#anime6 {
    opacity: 0;
    animation-delay: 1.4s;
}


.test1 {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
    top:0;
    left: 0;
    
}